* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
  color: aliceblue;
}

.menu li,
.sous-menu li {
  width: 100px;
  height: 20px;
  background-color: rgb(65, 65, 65);
  text-align: center;
}

.items:hover,
.sous-items:hover,
.sous-sous-items:hover {
  background-color: rgb(109, 109, 109);
}

.sous-menu,
.sous-sous-menu {
  display: none;
}

.items:hover > .sous-menu {
  position: relative;
  top: -18.5px;
  left: 100px;
  z-index: 1;
  display: block;
}

.sous-items:hover > .sous-sous-menu {
  position: relative;
  top: -18px;
  left: 100px;
  z-index: 2;
  display: block;
}
